@import "../../variables.scss";

.switch {
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 20px;
  background: $light-mode-background;
  color: $light-mode-foreground;
  border: 1px solid darkgrey;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    color: $green;
  }

  &.on {
    background: $dark-mode-background;
    color: $dark-mode-foreground;

    &:hover {
      color: $green;
    }
  }

  .dark, .bright {
    font-size: 1rem;
  }

  .slider {
    z-index: 99;
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    transition: left 0.25s ease-in-out;
    background: $light-mode-foreground;
    left: 2px;

    &.on {
      left: calc(41px - 1rem);
      background: $dark-mode-foreground;
    }

  }

}