@import "../../variables";

.contact-container {
  width: 100%;
  height: calc(100vh - 70px);
  background: $light-mode-background;
  color: $light-mode-foreground;
  transition: all ease-in-out .5s;

  &.dark {
    background: $dark-mode-background;
    color: $dark-mode-foreground;
  }

  .wrapper {
    max-width: $max-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      font-size: 4rem;

      .icon-wrapper {
        position: relative;
        width: 100px;
        height: 100px;

        .icon {
          position: absolute;
          bottom: -20%;
          color: $green;
          font-size: 100px;
          animation: skew 1s infinite;
        }

        @keyframes skew {
          0% {
            transform: skewX(13deg) translateX(0);
          }
          25% {
            transform: skewX(15deg) translateX(-4px);
          }
          50% {
            transform: skewX(14deg) translateX(-2px);
          }
          75% {
            transform: skewX(15deg) translateX(-4px);
          }
          100% {
            transform: skewX(13deg) translateX(0);
          }
        }

        .line {
          height: 10px;
          width: 50px;
          border-radius: 5px;
          background-color: $green;

          &.line1 {
            position: absolute;
            bottom: 0;
            left: -30px;
            animation: slider 0.5s infinite;
          }

          &.line2 {
            position: absolute;
            bottom: 10%;
            left: -35px;
            animation: slider 0.7s infinite;
          }

          &.line3 {
            position: absolute;
            bottom: 30%;
            left: -38px;
            animation: slider 0.9s infinite;
          }

          &.line4 {
            position: absolute;
            bottom: 40%;
            left: -40px;
            animation: slider 1s infinite;
          }

          @keyframes slider {
            0% {
              opacity: 1;
              transform: translateX(0px);
            }
            75%, 100% {
              opacity: 0;
              transform: translateX(-70px);
            }
          }

        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 400px;

        form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          font-weight: 600;


          input {
            width: 350px;
            height: 30px;
            font-size: 14px;
          }

          textarea {
            width: 350px;
            height: 200px;
            font-size: 14px;
          }

          .button {
            width: 150px;
            height: 30px;
            color: white;
            background-color: crimson;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }

          .sent {
            opacity: 0;
            color: green;

            &.showSent {
              opacity: 100%
            }
          }

          .error {
            opacity: 0;
            color: red;

            &.showError {
              opacity: 100%
            }
          }
        }
      }
    }
  }
}