@import "../../variables";

.footer-wrapper {
  width: 100%;
  background: $light-mode-background;
  color: $light-mode-foreground;
  height: 50px;

  &.dark {
    background: $dark-mode-background;
    color: $dark-mode-foreground;
  }

  footer {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max-width;
    padding-top: 0.5rem;

    a {
      text-decoration: inherit;
      color: inherit;
      display: block;
      flex-basis: 4rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-3px);
        color: $green;
      }

      .icon {

        font-size: 2rem;
      }
    }
  }
}