$dark-mode-background2: #222;
$dark-mode-foreground: #ddd;
$dark-mode-background: #292929;


$light-mode-background2: #ddd;
$light-mode-foreground: #222;
$light-mode-background: #eee;


$magenta: #EC368D;
$green: #23CE6B;

$max-width: 1200px;

$font-smaller: 14px;
$font-small: 18px;